nav {
    display: flex;
    height: 50px;
    background-color: black;
    color: white;
    align-items: center;
    padding-inline: 5%;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
}
a {
    text-decoration: none;
    color: white;
}